@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format(openType);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format(openType);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format(openType);
  font-weight: 700;
}
body {
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
  margin: 0;
  min-width: 20rem;
  max-width: 120rem;
}

logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li {
  text-align: center;
  width: 50vw;
}

h1, h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

p {
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  width: 100vw;
}

.background-black {
  background-color: #323232;
  color: white;
  width: 100vw;
}

.nav__header {
  display: flex;
  align-items: center;
}
.nav__logo {
  height: 1.25rem;
  width: 100vw;
  margin: 1rem auto 0 auto;
}
.nav__link {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.nav__list {
  padding-left: none;
  display: flex;
}
.nav__bar {
  border-bottom: white;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}
.nav__bar1 {
  font-weight: 600;
  border-bottom: 0.2rem solid white;
  width: 50vw;
  padding-left: 0;
}
.nav__bar2 {
  color: #E1E1E1;
  font-weight: 400;
}
.nav__item {
  width: 50vw;
}

.hero {
  width: 100vw;
  height: 12rem;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero__darker {
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
}
.hero__container {
  display: flex;
  align-items: center;
}
.hero__text {
  align-content: center;
  color: white;
  z-index: 1;
  margin: 25% 0 auto 1.5rem;
  font-weight: 600;
}

.article {
  padding-left: 1rem;
  padding-right: 1rem;
}
.article__header {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}
.article__Image {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  width: 80vw;
}
.article__subheader {
  font-weight: 400;
}

.Gallery {
  background-color: #E1E1E1;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Gallery__title {
  font-weight: 600;
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.Gallery__picture {
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__icon {
  padding-right: 1rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  padding-top: 1.5rem;
}/*# sourceMappingURL=bio.css.map */