@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format(openType);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format(openType);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format(openType);
  font-weight: 700;
}
body {
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
  margin: 0;
  min-width: 20rem;
  max-width: 120rem;
}

img {
  max-width: 100%;
}

.logo {
  height: 1.5rem;
  max-width: 7.5rem;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

p {
  font-size: 0.812rem;
  font-weight: 400;
  line-height: 1.125rem;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.background-black {
  background-color: #323232;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__container {
    padding-left: 5rem;
  }
}
.nav__logo {
  height: 1.25rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .nav__logo {
    justify-content: flex-end;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
    width: 10rem;
  }
}
.nav__list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-start;
  }
}
.nav__bar {
  padding-top: 0.5rem;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .nav__bar {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-size: 0.875rem;
  }
}
.nav__bar1 {
  font-weight: 600;
  border-bottom: 0.2rem solid white;
  width: 50vw;
  padding-left: 0;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .nav__bar1 {
    border-bottom: none;
    -webkit-text-decoration: underline 3px white;
            text-decoration: underline 3px white;
    text-underline-offset: 1.7rem;
    align-self: center;
    width: 6rem;
  }
}
.nav__bar2 {
  color: #E1E1E1;
  font-weight: 400;
  width: 50vw;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .nav__bar2 {
    width: 6rem;
  }
}
.nav__item {
  width: 50vw;
}
@media only screen and (min-width: 768px) {
  .nav__item {
    padding-bottom: 0;
    width: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 1rem 2rem 2rem 2rem;
    width: 100vw;
  }
}
@media only screen and (min-width: 768px) {
  .footer__media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 4rem;
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__media {
    padding-left: 7vw;
  }
}
@media only screen and (min-width: 768px) {
  .footer__icon {
    padding-left: 3rem;
  }
}
.footer__icon1 {
  padding-right: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__icon1 {
    height: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .footer__site {
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: -4rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__site {
    justify-content: flex-start;
    width: 77vw;
    margin-left: -6rem;
  }
}
.footer__container {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__container {
    width: 20vw;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    left: 78vw;
    bottom: 20.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__logo {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .footer__copyright {
    width: 100vw;
    margin-left: 6rem;
  }
}

h4 {
  font-size: 0.625rem;
  line-height: 1.25;
  font-weight: 600;
  color: #afafaf;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.hero {
  width: 100vw;
  height: 87vw;
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 62vw;
  }
}
.hero__darker {
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  height: 100%;
  width: 100vw;
}
.hero__title {
  color: white;
  z-index: 1;
  width: 65vw;
  margin-top: 0;
  font-weight: 600;
  padding-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__title {
    padding-left: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__title {
    display: flex;
    justify-self: center;
    padding-left: 8rem;
  }
}
.hero__text {
  color: white;
  z-index: 1;
  font-weight: 400;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding-left: 1rem;
}
@media only screen and (min-width: 768px) {
  .hero__text {
    padding-top: 4rem;
    padding-left: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__text {
    display: flex;
    justify-self: center;
    padding-top: 20rem;
    padding-left: 8rem;
  }
}
.hero__music {
  position: absolute;
  text-align: center;
  z-index: 1;
  margin: 10rem auto 0 0;
  width: 100vw;
  height: 5rem;
}
@media only screen and (min-width: 768px) {
  .hero__music {
    margin-left: 2rem;
    width: 50vw;
    margin-top: 22rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__music {
    width: 35vw;
    margin-top: 24rem;
    margin-left: 45rem;
  }
}

.shows {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.shows__header1 {
  width: 15vw;
}
.shows__header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .shows__header {
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__header {
    padding-top: 4rem;
    padding-left: 5rem;
    margin-bottom: 0;
  }
}
.shows__header2 {
  display: none;
}
@media only screen and (min-width: 768px) {
  .shows__header2 {
    width: 72vw;
    position: absolute;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__header2 {
    margin-top: 4.5rem;
    display: flex;
    width: 45vw;
    margin-left: 30vw;
  }
}
.shows__title1 {
  display: flex;
  text-align: left;
  width: 24vw;
}
@media only screen and (min-width: 1280px) {
  .shows__title1 {
    width: 15vw;
  }
}
.shows__section {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .shows__section {
    display: flex;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__section {
    display: flex;
    width: 60vw;
    margin-left: 30vw;
  }
}
.shows__section:hover {
  background-color: #E1E1E1;
  cursor: pointer;
}
.shows__title {
  color: #afafaf;
  margin: 0;
  padding-top: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .shows__title {
    display: none;
  }
}
.shows__info {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-size: 0.825rem;
}
@media only screen and (min-width: 768px) {
  .shows__info {
    width: 24vw;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__info {
    width: 15vw;
  }
}
.shows__info1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.825rem;
}
@media only screen and (min-width: 768px) {
  .shows__info1 {
    width: 24vw;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__info1 {
    width: 15vw;
  }
}
.shows__button {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #323232;
}
@media only screen and (min-width: 768px) {
  .shows__button {
    min-width: 9.375rem;
    width: 10vw;
    margin: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.shows__hr {
  border-color: #E1E1E1;
  width: 100vw;
  margin-left: -1rem;
}
@media only screen and (min-width: 768px) {
  .shows__hr {
    width: 95vw;
  }
}
@media only screen and (min-width: 1280px) {
  .shows__hr {
    display: flex;
    width: 60vw;
    margin-left: 28vw;
  }
}/*# sourceMappingURL=shows.css.map */