$prim-black:#323232;
$prim-silver:#afafaf;
$prim-white:#ffffff;

$sec-black:#000000;
$sec-silver:#E1E1E1;
$sec-white:#fafafa;

$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;

$space-above:1.5rem;
$space-under:1rem;
$space-between:1rem; 

$space-above-tablet:3rem;
$space-under-tablet:2rem;
$space-between-tablet:2rem; 