/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {

}

header {
	height: 50px;
	background: #999999;
	border-bottom: solid 1px;
	margin:0;
}

.header-left, .header-right, .logo {
}

.headerContainer{
	display: flex;
	justify-content: space-between;
	margin:0;
}

.logo {
	font-size: 2rem;

}

.header-left {
	padding-left: 20px;
}

.header-right {
	padding-right: 20px;
}

.hero {
	height: 300px;
	background: #eeeeee;
	text-align: center;
	border-bottom: solid 1px #666666;
	margin:0;
	
}

.main {
	display: flex;
	flex-direction: row;
}

.card-list {
	width: 60vw;
	padding: 35px;
	display: flex;
	flex-wrap: wrap;

	
}

.card {
	width: 150px;
	height: 200px;
	margin: 10px;
	background: #eeeeee;
	box-shadow: 3px 3px 3px #aaaaaa;
	border-radius: 5px;
}

.card-content {
	text-align: center;
	margin:auto;
	padding-top: 50px;
	height:120px

}

.card-title {
	border-top: dashed 1px #555555;
	padding-top: 15px;
	text-align: center;
}

.activity-list {
	background: #dddddd;
	padding: 20px;
	width:40vw;
	font-display: flex;
	justify-content:  center;
}

.activity-list > * {
}

.activity-item {
	width: 300px;
	height: 150px;
	background: white;
	margin:20px auto 20px auto;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #999999;
	justify-self: center;
	text-align: center;
	padding-top:60px;
}

footer {
	background: #999999;
	border-top: solid 1px #666666;
	padding: 25px;
}

.header-left {
	display: inline;

}

.header-right {
	display: inline;
}

.footer-left {
}

.hero-title{
	padding-top: 100px;
	margin:0;
}